<!--Student Name: Chun Yin Chong Student Number: 301259836-->
<section class="portfolio">
    <div class="container">
      <h2>My Portfolio</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img src="../../assets/images/project1.jpg" alt="Project 1">
            <div class="card-body">
              <h3>WeConnect</h3>
              <p>WeConnect is a gaming mobile app that provide a platform for people to connect and interact with each other worldwide through various social and entertainment features.</p>
              <a href="#" class="btn">View Details</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="../../assets/images/project2.jpg" alt="Project 2">
            <div class="card-body">
              <h3>Keep-It-Go</h3>
              <p>Keep-It-Go is a booking system desgined to streamline the reservation process for businesses in various industries. Whether you are running a hotl, restaurant, spa, or other service-oriented business, the system offers a solution to manage and organize booking.</p>
              <a href="#" class="btn">View Details</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="../../assets/images/project3.jpg" alt="Project 3">
            <div class="card-body">
              <h3>CyberChat</h3>
              <p>CyberChat is a blogging platform system that empowers individuals and businesses to create and manage blogs.</p>
              <a href="#" class="btn">View Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  