<!--Student Name: Chun Yin Chong Student Number: 301259836-->
<section class="services">
    <div class="container">
      <h2>Services</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="service">
            <h3>Customized web app development</h3>
            <p>Development solutions that are tailored to meet your unique business needs.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service">
            <h3>E-commerce development</h3>
            <p>E-commerce Development service is specifically designed to help businesses like yours thrive in the digital marketplace.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service">
            <h3>PHP development</h3>
            <p>PHP development services are designed to meet your unique business needs and empower you with a competitive edge.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  